name: Go

on:
  push:
    tags:
      - v**

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - uses: actions/cache@v3
        with:
          path: |
            ~\AppData\Local\go-build
            ~\go\pkg\mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      #    - name: Test
      #      run: go test -v ./...

      - name: Build
        env:
          GOARCH: amd64
          GOOS: windows
          CGO_ENABLED: 1
        run: go build -o bin/whatsapp-client-win64.exe -ldflags "-s -w -X api.version=${{ github.ref_name }} -X main.mode=release" -v

      - name: Run UPX
        uses: crazy-max/ghaction-upx@v1
        with:
          version: latest
          files: ./bin/*.exe
          args: -fq

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: bin/*
          draft: true
